Meet06/Exercise/Exercise02/.ipynb_checkpoints/Exercise02-checkpoint.ipynb
Meet05/00 Summary/
Meet05/01 Image Data/
Meet05/02 Text Data/
Meet05/Exercise/.ipynb_checkpoints/
Meet05/Exercise/data/
Meet05/Exercise/model/
Meet05/README.ipynb
Meet05/README.md
Meet01/00 - Introducing Data Science and AI/
Meet01/01 - Python Introduction/
Meet01/02 - Pandas Introduction/
Meet01/03 - Matplotlib Introduction/
Meet01/README.ipynb
Meet01/README.md
Meet01/check_installation.py
Meet01/env_jcopml.yml
Meet02/00 Summary/
Meet02/01 - KNN _ Scikit-learn/
Meet02/02 - SVM/
Meet02/04 Resources/
Meet02/README.ipynb
Meet02/README.md
Meet03/00 Summary/
Meet03/01 Random Forest/
Meet03/02 Boosting/
Meet03/README.ipynb
Meet03/README.md
Meet04/00 Summary/
Meet04/01 Regression Evaluation/
Meet04/02 Classification Evaluation/
Meet04/README.ipynb
Meet04/README.md
Meet06/00 Summary/
Meet06/01 Neural Network/.ipynb_checkpoints/Part 7 - Python Class and Object Oriented Programming-checkpoint.ipynb
Meet06/01 Neural Network/.ipynb_checkpoints/Part 8 - Callback and more ML Engineering-checkpoint.ipynb
Meet06/01 Neural Network/data.zip
Meet06/01 Neural Network/data/test/
Meet06/01 Neural Network/data/train/
Meet06/01 Neural Network/model/
Meet06/README.ipynb
Meet06/README.md
Meet06/01 Neural Network/.ipynb_checkpoints/Part 9 - Update your snippets-checkpoint.ipynb
